body{
    font-family: Verdana, sans-serif;
    margin: 0;
    background: #ded;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.stopwatch-container{
    text-align: center;   
}

#stopwatch{
    font-size: 22px;
    margin-bottom: 20px;
    color: rgb(237, 14, 43);
    border: 1px solid rgb(97, 21, 173);
    border-radius: 5px;
    padding: 10px;
}

button{
    cursor: pointer;
    padding: 10px;
    background-color: bisque;
    color: rgb(221, 21, 21);
    border: 1px solid rgb(38, 14, 56);
}

button:hover{
    padding: 12px;
    background-color: rgba(255,228,196,0.6);
    border-radius: 20px;
}
/* Write CSS code here *