body{
    font-family: Verdana, sans-serif;
    margin: 0;
    background: #ded;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* Write CSS code here *