body{
    font-family: Verdana, sans-serif;
    margin: 0;
    background: #ded;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.stopwatch-container{
    text-align: center;   
}

#stopwatch{
    font-size: 22px;
    margin-bottom: 20px;
    color: rgb(237, 14, 43);
    border: 1px solid rgb(97, 21, 173);
    border-radius: 5px;
    padding: 10px;
}
/* Write CSS code here *