body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #fdf6f9; /* soft blush pink */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.stopwatch-container{
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    height: 35vh;
    box-shadow: 10px 5px 20px  rgba(132, 17, 105, 0.61);
    border-radius: 30px;
}

#stopwatch{
    font-size: 22px;
    margin-bottom: 20px;
    color: rgb(237, 14, 43);
    border: 1px solid rgb(97, 21, 173);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
}

button{
    cursor: pointer;
    padding: 5px;
    background-color: rgba(203, 140, 195,0.6);
    color: rgb(221, 21, 178);
    border: 1px solid rgb(38, 14, 56);
    margin-top: 20px;
}

button:hover{
    padding: 7px;
    background-color: rgba(255,228,196,0.6);
    border-radius: 20px;
}
/* Write CSS code here *